<div class="impressum-wrapper">
    <h1 class="Primary_Txt header">{{TextService.getTexts("impressum_header")}}</h1>
    <h1 class="Primary_Txt">{{TextService.getTexts("impressum_first_heading")}}</h1>
    <p class="Primary_Txt impressum-text">{{TextService.getTexts("impressum_first_parents")}}</p>
    <p class="Primary_Txt impressum-text">{{TextService.getTexts("impressum_first_address")}}</p>
    <p class="Primary_Txt impressum-text">{{TextService.getTexts("impressum_second_address")}}</p>
    <p class="Primary_Txt impressum-text">{{TextService.getTexts("impressum_fax")}}</p>
    <p class="Primary_Txt impressum-text">{{TextService.getTexts("impressum_contact_text")}}</p>
    <p class="Primary_Txt impressum-text">{{TextService.getTexts("impressum_second_header")}}</p>
    
    <a class="contact" href="mailto:info@ms-agrarpicture.de">
        <button style="width: 12em; margin: 1em;" class="button contact_button hover_Normal">
          <p class="Primary_Txt Button_Text">Kontakt</p>
        </button>
      </a>

    <h1 class="Primary_Txt">{{TextService.getTexts("impressum_second_header")}}</h1>
    <p class="Primary_Txt impressum-text last-text">{{TextService.getTexts("impressum_copyright")}}</p>

    <h1 class="Primary_Txt">{{TextService.getTexts("impressum_hinweis_header")}}</h1>
    <p class="Primary_Txt impressum-text">{{TextService.getTexts("impressum_first_hinweis")}}</p>
    <p class="Primary_Txt impressum-text last-text"> Diese Website wurde von <a href="https://github.com/BenjaminBiber">Benjamin Biber</a> Designed, programmiert und bereitgestellt. Der Source-Code bleibt Geistiges Eigentum des Entwicklers. </p>
</div>>