<app-header-component></app-header-component>
<section id="Home">
 <div class="background">
  <div class="background_mask">
    <div class="home-left-section">
      <h3 class="Primary_Txt">Hi, ich bin Max, aus Burgheim (LK&nbsp;Neuburg-Schrobenhausen) und erstelle Content rund um und für die Landwirtschaft.</h3>
      <p class="Primary_Txt home-desc">Du willst auch deine Feldmomente in bester Qualität eingefangt haben? Dann kontaktiere mich noch heute!</p>
      <div>
        <a href="mailto:info@ms-agrarpicture.de">
          <button style="width: 12em; margin: 1em;" class="button_OutLnd contact_button hover_Normal">
            <p class="Primary_Txt Button_Text">Projekte</p>
          </button>
        </a>
        <a href="mailto:info@ms-agrarpicture.de">
          <button style="width: 12em; margin: 1em;" class="button contact_button hover_Normal">
            <p class="Primary_Txt Button_Text">Kontakt</p>
          </button>
        </a>
      </div>
    </div>
    <div class="home-right-section"></div>
    <div></div>
  </div>
  <img class="background_img" src="/bkg.jpeg"/>
 </div>
  <div id="arrow_to_bottom">
    <div class="arrow"></div>
  </div>
</section>

<section id="BestOf">
 
</section>

