<div class="about-wrapper">
    <h1 class="header Primary_Txt">Über Mich</h1>
    <div class="content-wrapper">
        <div class="pic">
            <app-polaroid class="polaroid-comp" [isAlbum]="false" [picturePath]="'/images/me.jpg'" [pictureTitle]="''"></app-polaroid>
        </div>
        <div class="Text">
            <div>
                <h1 class="Primary_Txt">Wer bin ich?</h1>
                <p class="Primary_Txt">Mein Name ist Max Schmalbach und komme aus Burgheim im Landkreis Neuburg-Schrobenhausen. Aktuell mache ich den Abschluss an der Wirtschaftsschule und besitze den T-Führerschein. </p>    
            </div>
            <div>
                <h1 class="Primary_Txt">Was mache ich?</h1>
                <p class="Primary_Txt">In meiner Freizeit arbeite ich bei einem Lohnunternehmen und halte die besten Momente meiner und der Arbeit meiner Kollegen auf Video und Foto fest. Zudem helfe ich meinen Eltern bei der Pflege unserer Pferde und Vögel</p>    
            </div>
           </div>
    </div>
</div>