<div class="about-wrapper">
    <h1 class="header Primary_Txt">{{TextService.getTexts("about-header")}}</h1>
    <div class="content-wrapper">
        <div class="pic">
            <app-polaroid class="polaroid-comp" [isAlbum]="false" [picturePath]="'/images/me.jpg'" [pictureTitle]="'Max Schmalbach'"></app-polaroid>
        </div>
        <div class="Text">
            <div>
                <h1 class="Primary_Txt">{{TextService.getTexts("about-first-header")}}</h1>
                <p class="Primary_Txt">{{TextService.getTexts("about-first-text")}}</p>    
            </div>
            <div>
                <h1 class="Primary_Txt">{{TextService.getTexts("about-second-header")}}</h1>
                <p class="Primary_Txt">{{TextService.getTexts("about-second-text")}}</p>    
            </div>
           </div>
    </div>
</div>